@import "variable";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;

  height: auto;

  nav {
    width: 175px;
    height: 100vh;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;

    @media (max-width: 1000px) {
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      height: 150px;
    }

    .nav_logo_box {
      width: 50%;
      height: auto;

      margin:auto;

      // background-color: coral;
      .logo_area {
        // background-color: lightskyblue;
        width: 100%;
      }
      .logo_text {
        display: flex;

        // background-color: lightskyblue;
        width: 100%;
        .logo_text_left {
          width: 30%;
          // background-color: linen;
        }
        .logo_text_right {
          width: 70%;
          // background-color: olive;
        }
      }
    }
    ul {
      padding: 0;
      li {
        height: 30px;

        list-style: none;
        text-align: center;
        line-height: 30px;

        border-bottom: 1px solid black;
        margin: 0 15px;
      }
      li:last-child {
        border-bottom: 0px;
      }
      .nav_hover {
        transition: all 0.5s;
        // border: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;

        span {
          z-index: 2;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.4s;
          transform: scale(0.5, 1);
        }
        &:hover::before {
          opacity: 1;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }

    .box {
      margin: 0 50px;
      width: 110px;
      height: 100px;
      background-color: lightgreen;
      &:hover {
        background-color: lightpink;
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .box2 {
      display: none;
      text-align: center;
      line-height: 100px;
      @media (max-width: 1000px) {
        display: inline-block;

        margin-right: 50px;
        margin-top: 25px;
        position: absolute;
        right: 0;
        top: 0;
        width: 110px;
        height: 100px;

        background-color: lightgreen;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: $h1;
      }
    }
  }

  main {
    height: 700vh;
  }

  footer {
    width: calc(100% - 175px);
    height: 370px;

    background-color: lightgray;

    float: right;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}
