@import "variable";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;

  height: auto;

  nav {
    margin-top: 0;
    width: 175px;
    height: 100%;
    // background-color: gold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    border-right: 3px solid $text-title-color;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 1000px) {
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      height: 150px;
    }

    .nav_logo_box {
      width: 50%;
      height: 100vh;

      padding-top: 80px;
      margin: 0 auto;

      @media (max-height: 750px) {
        padding-top: 0px;
      }

      // background-color: coral;
      .logo_area {
        // background-color: lightskyblue;
        width: 100%;
      }
      .logo_text {
        display: flex;

        // background-color: lightskyblue;
        width: 100%;
        .logo_text_left {
          width: 30%;
          // background-color: linen;
        }
        .logo_text_right {
          width: 70%;
          // background-color: olive;
        }
      }
    }
    ul {
      height: auto;
      padding: 0;
      padding-bottom: 200px;

      font-size: $h4;
      li {
        height: 48px;

        list-style: none;
        text-align: center;
        line-height: 48px;

        // border-bottom: 1px solid black;

        a {
          color: $text-title-color;
        }

        .line {
          margin: 0 auto;
          width: 80%;
          border-bottom: 1px solid black;
        }

        .dd {
          background-color: green;
        }
      }
      li:last-child {
        border-bottom: 0px;
      }
      .nav_hover {
        transition: all 0.5s;
        // border: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;
        span {
          z-index: 2;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          background-color: $footer-bg-color;
          transition: all 0.4s;
          transform: scale(0.5, 1);
        }
        &:hover::before {
          opacity: 1;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
      .news_box {
        // display: none;
        background-color: red;

        position: absolute;
        top: 0;
        left: -175px;
        width: 175px;
        height: 100vh;
        position: fixed;
        transition: 0.1s;
        z-index: -1;
        opacity: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        ul {
          padding-bottom: 222px;
        }
      }

      .news_hover:hover .news_box {
        // display: block;
        background-color: $footer-bg-color;

        left: 175px;
        top: 0;
        opacity: 1;
      }
    }

    .box {
      margin: 0 50px;
      width: 110px;
      height: 100px;
      background-color: lightgreen;
      &:hover {
        background-color: lightpink;
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .box2 {
      display: none;
      text-align: center;
      line-height: 100px;
      @media (max-width: 1000px) {
        display: inline-block;

        margin-right: 50px;
        margin-top: 25px;
        position: absolute;
        right: 0;
        top: 0;
        width: 110px;
        height: 100px;

        background-color: lightgreen;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: $h1;
      }
    }
  }

  main {
    height: 100vh;
    margin-left: 175px;
  }

  footer {
    width: calc(100% - 175px);
    height: auto;

    padding: 30px 0;
    background-color: $footer-bg-color;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    float: right;

    font-size: $h4;
    color: $footer-text-color;

    @media (max-width: 1000px) {
      width: 100%;
    }
    ul {
      display: inline-block;

      padding: 0;
      margin: 0;

      li {
        // display: inline-block;
        height: 50px;
        line-height: 50px;
        list-style: none;
      }
    }
    .footer_left {
      width: auto;
      li:first-child {
        font-size: $h1;
        display: flex;
        
        div:nth-child(2) {
          padding-left: 22px;
        }
      }
    }
    .footer_right {
      width: auto;

      ul {
        li {
          display: flex;
          align-items: center;

          div {
            padding-left: 22px;
          }
        }
      }
    }
  }
}

main {
  .box {
    width: 100%;
    height: 100vh;
    background-color: lightgoldenrodyellow;
  }
}
