@import "variable";

* {
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    height: auto;

    .above{
        width: 100%;
        position: relative;
        .index_photo{
            max-width: 100%;
            filter:brightness(50%);
            opacity: 80%;

            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('../img/01/index_photo.jpg');
            
            animation: opening 5s linear 1 both;
            @keyframes opening {
                0% {
                    background-position: 50% 50%;
                    background-size: 100% 100%;
                }
                100% {
                    background-position: 50% 50%;
                    background-size: 120% 120%;
                }

            }
            
            img{
                width: 100%;
                filter:brightness(50%);
                opacity: 0;

                @media (max-width: 375px){
                    // content: url("../img/01/index-58\ 410h.jpg");
                }
            }
        }
        .logo{
            width: 8%; 
            position: absolute;
            top:35%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: 375px){
                top:50%;
            }

        }
        .logo_horizontal{
            width: 22%;
            position: absolute;
            top:48%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 375px){
                top:58%;
            }
           
        }
        .logo_horizontal_en{
            width: 21%;
            position: absolute;
            top:55%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 375px){
                top:62%;
                
            }

        }
        .text{
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Microsoft JhengHei;
            color:white;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 1s;

            @media (max-width: 1080px){
                bottom: 3%;
    
            }
            @media (max-width: 770px){
                font-size: 14px;
                bottom: 1%;
              
            }
            @media (max-width: 630px){
                font-size: 12px;
            }

            @media (max-width: 375px){
                bottom: 0%;   
            }
            i{
                font-size: 30px;
                text-shadow: 0em 0.3em rgba(255, 255, 255, 0.329);

                animation: arrow 0.8s linear infinite both;
                @keyframes arrow {
                    0% {
                        transform:translate(0px,-6px)
                    }
                    100% {
                        transform:translate(0px,0px)
                    }

                }

                @media (max-width: 770px){
                    font-size: 22px;
                   
                }
                @media (max-width: 375px){
                    font-size: 12px;
                    
                }

            }
 
        }
        
    }

}

main{
    width: 100%;
    height: auto;

    @media (max-width: 375px){
        
      }
    
    .below{
        width: 100%;
        
        .swiper-container {
        width: 100%;
        height: 100%;
        
        
            .swiper-wrapper{
                width: 100%;
                margin-bottom: 50px;
               
              
                .swiper-slide {
                    max-width: 100%;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
              
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                  }

                  

            }
            

            

        }

    }

}

