@import "variable";

* {
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    height: auto;

    .above{
        width: 100%;
        position: relative;
        .index_photo{
            width: 100%;
            opacity: 70%;
            img{
                width: 100%;
                filter:brightness(50%);
            }
        }
        .logo{
            width: 10%; 
            position: absolute;
            top:35%;
            left: 50%;
            transform: translate(-50%, -50%);


        }
        .logo_horizontal{
            width: 25%;
            position: absolute;
            top:51%;
            left: 50%;
            transform: translate(-50%, -50%);
           
        }
        .logo_horizontal_en{
            width: 24%;
            position: absolute;
            top:59%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        .text{
           
            
           
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            color:white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }

}

main{
    width: 100%;
    height: auto;
    
    .below{
        width: 100%;
        
        .swiper-container {
        width: 100%;
        height: 100%;
        
        
            .swiper-wrapper{
                width: 100%;
                margin-bottom: 50px;
              
                .swiper-slide {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
              
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                  }

            }
            

            

        }

    }

}