@import "variable";

* {
    box-sizing: border-box;
    margin: 0;
}

main{
    width: 100%;
    .photo{
        width: auto;
        img{
            width: 100%;
        }
    }
    .content{
        width: 60%;
        margin: auto;

        .title{
            text-align: center;
            margin: auto;
            color: #727171;
            font-size: 28px;
            letter-spacing: 4px;
            font-family: Microsoft JhengHei;

            .line{
                width: 150px;
                margin: auto;
              border-bottom: 1px #898989 solid;
                padding-bottom: 15px;  
            }
            
            
            
            

        }
        .text{
            font-size: 22px;
            color: #898989;
            text-align: center;
            letter-spacing: 3px;
            line-height: 30px;
            font-family: Microsoft JhengHei;

            margin-bottom: 50px;
           
        }
        
    }
}