@import "variable";
*{
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    display: flex;
    @media (max-width: 768px){
        display: initial;
    }
    nav{
        width: 175px;
        height: auto;
        background-color: khaki;
        @media (max-width: 768px){
            width: 100%;
            height: 10vh;
        }

    }
    .all{
        width: calc(100vw - 175px);
        max-width: 1745px;
        @media (max-width: 768px){
            width: 85%;
            margin:auto;
        }
        .page_title{
            width: 100%;
            height: auto;
            @media (max-width: 768px){
                text-align: center;
            }
            .title_name{
                font-size: $h1;
                color: $text-title-color;
                letter-spacing: 11px;
                padding: 1% 0 0 1.5%;  
                @media (max-width: 360px){
                    font-size: $h5;
                } 
            }
            
            .title_underline{
                width: 375px;
                border:1px solid $text-line-color;
                margin-top: 0.5vh;
                margin-left: 10px;
                
                @media (max-width: 768px){
                    margin: auto;
                    left:0;
                }
                @media (max-width: 360px){
                    width: 250px;
                }
            }
        }
        .camp_area_grass{
            width:100%;
            height: auto;
            display: flex;
            margin-top: -1.5vh;
            position: relative;
            z-index: -1;
            @media (max-width: 768px){
                width: 85%;
                margin: auto;
                display: initial;
            }
            img{
                width: 66%;
                max-width:777px;
                @media (max-width: 768px){
                    width: 100%;
                }
            }
            .grass_text_box{
                width: 34%;
                height: auto;
                padding-top: 3vw;
                padding-left: 9px;
                z-index: 1;
                @media (max-width: 837px){
                    padding-left: 0;
                    padding-top: 0;
                }
                @media (max-width: 768px){
                    width: 100%;
                    text-align: center;
                    position: relative;
                    top:-4vh;
                }
                @media (max-width: 360px){
                    margin-bottom: 3vh;
                }
                .grass_text_title{
                    font-size: $h2; 
                    color:$text-title-color;
                    @media (max-width: 768px){
                        color: white;
                        font-size: $h4;
                    }
                    @media (max-width: 360px){
                        color: white;
                        font-size: $h6;
                    }
                }
                .grass_text_title_underline{
                   width: 190px;
                   height: 5px; 
                   margin-top:-5vh;
                   margin-left: -2vw;
                   position: relative ;
                   z-index: -1;
                    @media (max-width: 768px){
                        width: 170px;
                        left:0;
                    }
                }
                .grass_text_content{
                    font-size: $h3;
                    color:$text-content-color ;
                    margin-top: -20px;
                    @media (max-width: 768px){
                        font-size:$h6 ;
                        margin-top: -12px;
                    }
                    @media (max-width: 360px){
                        font-size:$h8;
                        margin-top: -24px;
                    }
                    p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .camp_area_wooden{
            width: 100%;
            height: auto;
            margin-top: -10vh;
            @media (max-width: 768px){
                width: 100%;
                margin: auto;
                margin-top: 0;
            }
            img{
                width: 66%;
                max-width:777px;
                margin-left: 40%;
                @media (max-width: 1470px){
                    margin-left: 34%;
                }  
                @media (max-width: 768px){
                    width:100%;
                    margin-left:0%;
                }
            }
            .wooden_text_box{
                width: 55%;
                min-width: 480px;
                height: auto;
                background-color:$camping-reservation ;
                margin-top: -5vh;
                margin-left: 16%;
                padding: 1vh 0 2vh 0;
                text-align: center;
                position: relative;
                z-index: 1;
                
                @media (max-width: 768px){
                    width: 100%;
                    min-width:initial;
                    background-color:unset;
                    margin-left:0;
                }
                .wooden_text_title{
                    font-size: $h2;
                    color:$text-title-color ;
                    @media (max-width: 768px){
                        color: white;
                        font-size: $h4;
                    }
                    @media (max-width: 360px){
                        color: white;
                        font-size: $h6;
                        z-index: 1;
                    }
                }
                .wooden_text_title_underline{
                    width: 180px;
                    height: 5px; 
                    margin-left: 0;
                    margin-top: -5vh;
                    position: relative;
                    z-index:-1;
                }
                .wooden_text_content{
                    display: flex;
                    text-align: left;
                    color:$text-content-color ;
                    font-size: $h3;
                    margin-top: -1.75vh;
                    @media (max-width: 768px){
                        font-size:$h6;
                    }
                    @media (max-width: 360px){
                        font-size:$h8;
                    }
                    .wooden_text_content_left{
                        width: 50%;
                        padding-left: 9vw;
                        
                        @media (max-width: 1470px){
                            padding-left: 3vw;
                        }
                        @media (max-width: 768px){
                            padding-left: 13vw;
                        }
                        @media (max-width: 432px){
                            padding-left: 7vw;
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .wooden_text_content_right{
                        width: 50%;
                        padding-left: 4vw;
                        @media (max-width: 1470px){
                            padding-left: 5.5vw;
                        }
                        
                        p{  
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .camp_area_tent{
            width: 100%;
            height: auto;
            margin-top: 10vh;
            display: flex;
            @media (max-width: 768px){
                margin-top: 0;
            }
            
            .tent_text_box{
                width: 80%;
                background-image: url(/img/03/air_area.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 13vw 0;
                flex-wrap: 2;
                flex-basis: 1475px;
                
                
                .tent_text_box_bgcolor{
                    color: white;
                    width: 50%;
                    height: auto;
                    background-color:rgba(226, 227, 223, 0.5) ;
                    padding: 10px;
                    text-align: center;
                    margin: auto;
                    @media (max-width: 768px){
                        padding: 0px;
                    }
                    .tent_text_title{
                        font-size: $h2;
                        @media (max-width: 768px){
                            font-size:  $h6;
                        }
                        @media (max-width: 360px){
                            font-size:  $h8;  
                        }
                    }
                    span{
                        font-size: $h3;
                        @media (max-width: 768px){
                            font-size:  $h8;
                        }
                        @media (max-width: 360px){
                            font-size:  $h9;
                        }
                    }
                }
            }
        }
        .coffee_area{
            width: 100%;
            height: auto;
            margin-top: 10vh;
            @media (max-width: 768px){
                width: 100%;
            }
            .coffee_area_background_color{
                width: 50%;
                max-width: 870px;
                height: 30vw;
                background-color: $camping-reservation;
                position: absolute;
                right: 0;
                @media (max-width: 768px){
                    width: 80% ;
                    height:45vw;
                }
                span{
                    font-size: $h2;
                    padding: 10px;
                    @media (max-width: 768px){
                        font-size: $h4;
                    }
                    @media (max-width: 360px){
                        font-size: $h6;
                    }
                }
            }
            img{
                width: 65%;
                max-width: 870px;
                margin-top: 5vh;
                margin-left: 31.5vw;
                position: relative;
                @media (max-width: 1475px){
                    margin-left:35%;
                }
                @media (max-width: 1475px){
                    width: 
                }
            }
            .coffee_area_background_img{
                width: 30%;
                height:70%;
                background-image: url('/img/03/tree.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-top: -59.75vh;
                position: absolute;
                left: 175px;
                z-index: -1;
                @media (max-width: 768px){
                    display: none;
                }
            }
        }   
        .segmentation{
            width: 50%;
            border:2px solid #898989;
            margin: 10vh 0 0 0; 
        }
        .swiper-container {
            width: calc(100vw - 175px);
            padding-top: 50px;
            padding-bottom: 50px;
            @media (max-width: 768px){
                width: 100%;
            }
            .swiper-wrapper{
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 35%;
                    height: 20vw;
                    @media (max-width: 768px){
                        width: 70%;
                        height: 40vw;   
                    }
                }
            }  
        } 
    }
}