@import "variable";
*{
    box-sizing: border-box;
}
body {
    .all{
        width: auto;
        // background-color: rgb(247, 166, 166);
        margin-left: 175px;

        @media (max-width: 768px){
            width: 95%;
            margin: auto;
        }

        .camp_area_1{
            width: 100%;
            height: auto;
            position: relative;
            

            .page_name{
                font-size: $h1;
                color: $text-title-color;
                letter-spacing: 11px;
                padding: 1% 0 0 1.5%;
                position: relative;
                top: 0.5vw;
                @media (max-width: 768px){
                    text-align: center;
                }
                .name_underline{
                    width: 330px;
                    border:1px solid $text-line-color;
                    @media (max-width: 768px){
                        width: 45vw;
                        margin: auto;
                    }
                }
            }
            .camp_area_grass{
                display: flex;
                img{
                    width: 40vw;
                    height: 23.5vw;
                    z-index: -2;
                    // @media (max-width: 768px){
                    //     width: 50vw;
                    //     height: 29.375vw;
                    // }
                }
                .grass_text_box{
                    padding-left: 0.5vw;
                    padding-top: 4vw;
                    position: relative;
                    .grass_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                        @media (max-width: 1679px){
                            font-size: 24px;
                        }
                        @media (max-width: 1119px){
                            font-size: 20px;
                        }
                    }
                    .grass_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        position: absolute;
                        top: 6vw;
                        left: -2vw;
                    }
                    .grass_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;

                        @media (max-width: 1679px){
                            font-size: 22px;
                        }
                        @media (max-width: 1119px){
                            font-size: 18px;
                        }
                        p{
                            @media (max-width: 1679px){
                                margin-bottom: 10px;
                            } 
                            @media (max-width: 1119px){
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        } 
        .camp_area_2{
            width: 100%;
            height: auto;
            
            .camp_area_wooden{
                justify-content: flex-end;
                position: relative;
                padding-bottom: 27vw;
                img{
                    width: 40vw;
                    height: 23.5vw;
                    position: absolute;
                    top: -8vw;
                    right: 14vw;
                    z-index: -1;
                } 
                .camp_area_wooden_bkcolor{
                    width: 37vw;
                    height: 260px;
                    background-color:$nav-text-color ;
                    position: absolute;
                    top: 12vw;
                    left: 19.5vw;
                    z-index: 0;
                    @media (max-width: 1679px){
                        height: 210px;
                    }
                    @media (max-width: 1119px){
                        height: 150px;
                    }
                }
                .wooden_text_box{
                    width: 37vw;
                    padding-bottom: 50vw;
                    position: absolute;
                    top: 12.5vw;
                    left: 19vw;
                    z-index: 1;
                    padding-bottom: 0;
                    
                    .wooden_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                        text-align: center;
                        @media (max-width: 1679px){
                            font-size: 24px;
                        }
                        @media (max-width: 1119px){
                            font-size: 20px;
                        }
                    }
                    .underline_img{
                        text-align: center;
                        position: absolute;
                        top: 10vw;
                        left: 38.5vw;
                        z-index: -1;
                       
                        .wooden_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        }
                    }
                    .wooden_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;
                        display: flex;
                        @media (max-width: 1679px){
                            font-size: 22px;
                        }
                        @media (max-width: 1119px){
                            font-size: 18px;
                        }

                        .wooden_text_content_left{
                            width: 50%;
                            padding-left: 5vw ;
                            p{
                                @media (max-width: 1679px){
                                    margin-bottom: 10px;
                                } 
                                @media (max-width: 1119px){
                                    margin-bottom: 4px;
                                }
                            }
                        }
                        .wooden_text_content_right{
                            width: 50%;
                            padding-left: 2vw ;
                            p{
                                @media (max-width: 1679px){
                                    margin-bottom: 10px;
                                } 
                                @media (max-width: 1119px){
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }

        }
        
        .tent_area{
            margin: 5vh 0;
            position: relative;
            img{
                width: 76vw;
                height: 29.65vw;
            }
            .tent_text_box_bgcolor{
                width: 40vw;
                height: 11vw;
                background-color: $box-color;
                opacity: 30%;
                position: absolute;
                top: 9vw;
                left:18vw ;
            }
            .tent_text_box{
                width: 40vw;
                height: auto;
                text-align: center;
                position: absolute;
                top: 10vw;
                left:18vw;
                .tent_text_title{
                    font-size: $h2;
                    color:$nav-text-color;
                    line-height: 70px;
                    @media (max-width: 1679px){
                        font-size: 22px;
                        line-height: 45px;
                    }
                    @media (max-width: 1119px){
                        font-size: 18px;
                        
                    }
                }
                p{
                    font-size: $h3;
                    color: $nav-text-color; 
                    line-height: 20px;
                    @media (max-width: 1679px){
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 1119px){
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
        .coffee_area{
            width: 100%;
            height: auto;
            position: relative;
            margin: 5vw 0;
        
            .color_box{
                display: flex;
                justify-content: flex-end;
                .background_color_box{
                    width: 50vw;
                    height: 33vw;
                    color:$text-title-color;
                    font-size:$h1;
                    background-color: #e2e3df;
                    padding:1vw;
                    @media (max-width: 1679px){
                        font-size: 26px;
                    }

                    @media (max-width: 1220px){
                        
                    }
                    @media (max-width: 992px){
                        
                    }
                    @media (max-width: 768px){
                        
                    }
                    @media (max-width: 576px){
                        
                    }
                }
            }
            .coffee{
                width: 50vw;
                position: absolute;
                top:5vw;
                right: 15vw;

            }
        }   
        .segmentation{
            width: 50%;
            border:2px solid #898989;
            margin: 14vw 0 0 0;
        }
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 35%;
                height: 20vw;
            }
        }
        
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }    .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }