@import "variable";
*{
    box-sizing: border-box;
}
body {
    .all{
        width: calc(100% - 175px);
        // background-color: rgb(247, 166, 166);
        margin-left: 175px;

        @media (max-width: 768px){
            width: 100%;
            margin: 0;
        }

        .camp_area_1{
            width: 100%;
            height: auto;
            position: relative;
            @media (max-width: 768px){
                width: 85%;
                margin: auto;
            }
            

            .page_name{
                font-size: $h1;
                color: $text-title-color;
                letter-spacing: 11px;
                padding: 1% 0 0 1.5%;
                position: relative;
                top: 0.5vw;
                @media (max-width: 768px){
                    text-align: center;
                }
                .name_underline{
                    width: 330px;
                    border:1px solid $text-line-color;
                    @media (max-width: 768px){
                        width: 45vw;
                        margin: auto;
                    }
                }
            }
            .camp_area_grass{
                width: 100%;
                height: auto;
                display: flex;
                @media (max-width: 768px){
                    display: initial;
                }
                img{
                    width: 40vw;
                    height: 23.5vw;
                    z-index: -2;
                    @media (max-width: 768px){
                        width: 100%;
                        height:58.75vw;
                    }
                }
                .grass_text_box{
                    padding-left: 0.5vw;
                    padding-top: 4vw;
                    position: relative;
                    @media (max-width: 768px){
                        height: 9vh;
                        text-align: center;
                        padding:0;
                        top: -4vw;
                    }
                    .grass_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                        @media (max-width: 1679px){
                            font-size: 24px;
                        }
                        @media (max-width: 1119px){
                            font-size: 20px;
                        }
                        @media (max-width: 943px){
                            font-size: 16px;
                        }
                        @media (max-width: 768px){
                            color: white;
                        }
                    }
                    .grass_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        position: absolute;
                        top: 6vw;
                        left: -2vw;
                        @media (max-width: 768px){
                            top:3vw;
                            left: 36.5vw;
                            z-index: 2;
                        }
                    }
                    .grass_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;

                        @media (max-width: 1679px){
                            font-size: 22px;
                        }
                        @media (max-width: 1119px){
                            font-size: 18px;
                        }
                        @media (max-width: 943px){
                            font-size: 14px;
                        }
                        p{
                            @media (max-width: 1679px){
                                margin-bottom: 10px;
                            } 
                            @media (max-width: 1119px){
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        } 
        .camp_area_2{
            width: 100%;
            height: auto;
            @media (max-width: 768px){
                width: 85%;
                margin: auto;
            }
            
            .camp_area_wooden{
                justify-content: flex-end;
                position: relative;
                padding-bottom: 27vw;
                @media (max-width: 768px){
                    position: relative;
                    padding-bottom: 1vw;
                    width: 100%;
                }
                img{
                    width: 40vw;
                    height: 23.5vw;
                    position: absolute;
                    top: -8vw;
                    right: 14.75vw;
                    z-index: -1;
                    @media (max-width: 768px){
                        position:initial;
                        width: 100%;
                        height:52vw;
                    }
                } 
                .camp_area_wooden_bkcolor{
                    width: 37vw;
                    height: 260px;
                    background-color:$nav-text-color ;
                    position: absolute;
                    top: 12vw;
                    left: 19.5vw;
                    z-index: 0;
                    @media (max-width: 1679px){
                        height: 210px;
                    }
                    @media (max-width: 1119px){
                        height: 150px;
                    }
                    @media (max-width: 943px){
                        height: 120px;
                    }
                    @media (max-width: 768px){
                        position:initial;
                        width:100%;
                        height:11vh;
                        background-color:initial;
                    }
                }
                .wooden_text_box{
                    width: 37vw;
                    padding-bottom: 50vw;
                    position: absolute;
                    top: 12.5vw;
                    left: 19vw;
                    z-index: 1;
                    padding-bottom: 0;
                    @media (max-width: 768px){
                        width: 100%;
                        top: 48vw;
                        left:0
                    }
                    
                    .wooden_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                        text-align: center;
                        @media (max-width: 1679px){
                            font-size: 24px;
                        }
                        @media (max-width: 1119px){
                            font-size: 20px;
                        }
                        @media (max-width: 943px){
                            font-size: 16px;
                        }
                        @media (max-width: 768px){
                            color:white;
                        }
                    }
                    .underline_img{
                        text-align: center;
                        position: absolute;
                        top: 10vw;
                        left: 39vw;
                        z-index: -1;
                        @media (max-width: 768px){
                            // position:initial;
                            top:1.05vw;
                            left: 36.5vw;
                            
                        }
                       
                        .wooden_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        }
                    }
                    .wooden_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;
                        display: flex;
                        @media (max-width: 1679px){
                            font-size: 22px;
                        }
                        @media (max-width: 1119px){
                            font-size: 18px;
                        }
                        @media (max-width: 943px){
                            font-size: 14px;
                        }

                        .wooden_text_content_left{
                            width: 50%;
                            padding-left: 4vw ;
                            @media (max-width: 768px){
                                width: 50%;
                                padding-left: 20vw;
                            }
                            p{
                                @media (max-width: 1679px){
                                    margin-bottom: 10px;
                                } 
                                @media (max-width: 1119px){
                                    margin-bottom: 4px;
                                }

                            }
                        }
                        .wooden_text_content_right{
                            width: 50%;
                            padding-left: 2vw ;
                            @media (max-width: 768px){
                                width: 50%;
                                padding-left: 8.5vw;
                            }
                            p{
                                @media (max-width: 1679px){
                                    margin-bottom: 10px;
                                } 
                                @media (max-width: 1119px){
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }

        }
        
        .tent_area{
            margin: 5vh 0;
            position: relative;
            @media (max-width: 768px){
                width: 85%;
                margin: auto;
            }
            img{
                width: 76vw;
                height: 29.65vw;
                @media (max-width: 768px){
                    width: 100%;
                    margin: auto;
                }
            }
            .tent_text_box_bgcolor{
                width: 40vw;
                height: 11vw;
                background-color: $box-color;
                opacity: 30%;
                position: absolute;
                top: 9vw;
                left:18vw ;
                @media (max-width: 768px){
                    top: 9vw;
                    left:20vw ;
                    height: 14vw;
                }
            }
            .tent_text_box{
                width: 40vw;
                height: auto;
                text-align: center;
                position: absolute;
                top: 10vw;
                left:18vw;
                @media (max-width: 768px){
                    left:20vw;
                }
                .tent_text_title{
                    font-size: $h2;
                    color:$nav-text-color;
                    line-height: 70px;
                    @media (max-width: 1679px){
                        font-size: 22px;
                        line-height: 45px;
                    }
                    @media (max-width: 1119px){
                        font-size: 18px;
                        line-height: 40px; 
                    }
                    @media (max-width: 943px){
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
                p{
                    font-size: $h3;
                    color: $nav-text-color; 
                    line-height: 20px;
                    @media (max-width: 1679px){
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 1119px){
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    @media (max-width: 943px){
                        font-size: 14px;
                    }
                }
            }
        }
        .coffee_area{
            width: 100%;
            height: auto;
            position: relative;
            margin: 5vw 0;
            @media (max-width: 768px){
              padding-right: 7.5%; 
            }
        
            .color_box{
                display: flex;
                justify-content: flex-end;
                .background_color_box{
                    width: 50vw;
                    height: 33vw;
                    color:$text-title-color;
                    font-size:$h1;
                    background-color: #e2e3df;
                    padding:1vw;
                    @media (max-width: 1679px){
                        font-size: 26px;
                    }
                    @media (max-width: 1119px){
                        font-size: 22px;
                    }
                    @media (max-width: 943px){
                        font-size: 18px;
                    }

                    @media (max-width: 1220px){
                        
                    }
                    @media (max-width: 992px){
                        
                    }
                    @media (max-width: 768px){
                        width: 75vw;
                        height: 49.5vw; 
                    }
                    @media (max-width: 576px){
                        
                    }
                }
            }
            .coffee{
                width: 50vw;
                position: absolute;
                top:5vw;
                right: 15vw;
                @media (max-width: 768px){
                    width: 77vw;
                    height: 50vw; 
                }
            }
            .coffee_area_background{
                width: 23vw;
                height: 40vw;
                background-image: url('/img/03/tree.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top:7vw;
                @media (max-width: 768px){
                    display: none;
                }
            }
        }   
        .segmentation{
            width: 50%;
            border:2px solid #898989;
            margin: 14vw 0 0 0;
        }
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            .swiper-wrapper{
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 35%;
                    height: 20vw;
                    @media (max-width: 768px){
                        width: 70%;
                        height: 40vw;   
                    }
                }
            }  
        }
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            text-align: center;
            line-height: 30px;
            font-size: 12px;
            color: #000;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);   
        } 
        .swiper-pagination-bullet-active {
            color: #fff;
            background: #007aff;
        }  
    }
}
