* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  body {
    display: initial;
  }
}

body nav {
  width: 175px;
  height: auto;
  background-color: khaki;
}

@media (max-width: 768px) {
  body nav {
    width: 100%;
    height: 10vh;
  }
}

body .all {
  width: calc(100vw - 175px);
  max-width: 1745px;
}

@media (max-width: 768px) {
  body .all {
    width: 85%;
    margin: auto;
  }
}

body .all .page_title {
  width: 100%;
  height: auto;
}

body .all .page_title hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 768px) {
  body .all .page_title {
    text-align: center;
  }
}

body .all .page_title .title_name {
  font-size: 40px;
  color: #727171;
  letter-spacing: 11px;
  padding: 1% 0 0 1.5%;
}

@media (max-width: 360px) {
  body .all .page_title .title_name {
    font-size: 20px;
  }
}

body .all .page_title .title_underline {
  width: 335px;
  border: 1px solid #f8f9f9;
  margin-top: 0.5vh;
  margin-left: 30px;
}

@media (max-width: 768px) {
  body .all .page_title .title_underline {
    margin: auto;
    left: 0;
  }
}

@media (max-width: 360px) {
  body .all .page_title .title_underline {
    width: 250px;
  }
}

@media (max-width: 768px) {
  body .all .camp_area {
    margin-top: -2%;
  }
}

body .all .camp_area .camp_area_grass {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  position: relative;
  z-index: -1;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass {
    width: 85%;
    margin: auto;
    display: initial;
  }
}

body .all .camp_area .camp_area_grass img {
  width: 66%;
  max-width: 777px;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass img {
    width: 100%;
  }
}

body .all .camp_area .camp_area_grass .grass_text_box {
  width: 34%;
  height: auto;
  padding-top: 3%;
  padding-left: 9px;
  z-index: 1;
}

@media (max-width: 837px) {
  body .all .camp_area .camp_area_grass .grass_text_box {
    padding-left: 0;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass .grass_text_box {
    width: 100%;
    text-align: center;
    margin-top: -30px;
  }
}

body .all .camp_area .camp_area_grass .grass_text_box .grass_text_title {
  font-size: 32px;
  color: #727171;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass .grass_text_box .grass_text_title {
    color: white;
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  body .all .camp_area .camp_area_grass .grass_text_box .grass_text_title {
    color: white;
    font-size: 18px;
  }
}

body .all .camp_area .camp_area_grass .grass_text_box .grass_text_title_underline {
  width: 180px;
  margin-top: -50px;
  margin-left: -30px;
  position: relative;
  z-index: -1;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass .grass_text_box .grass_text_title_underline {
    width: 140px;
    margin-top: -35px;
    margin-left: 0;
  }
}

body .all .camp_area .camp_area_grass .grass_text_box .grass_text_content {
  font-size: 28px;
  color: #898989;
  margin-top: -20px;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_grass .grass_text_box .grass_text_content {
    font-size: 18px;
    margin-top: -20px;
    padding-bottom: 2%;
  }
}

@media (max-width: 360px) {
  body .all .camp_area .camp_area_grass .grass_text_box .grass_text_content {
    font-size: 14px;
    margin-top: -18px;
  }
}

body .all .camp_area .camp_area_grass .grass_text_box .grass_text_content p {
  margin-bottom: 0px;
  margin-top: -5px;
}

body .all .camp_area .camp_area_wooden {
  width: 100%;
  height: auto;
  margin-top: -100px;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden {
    width: 100%;
    margin: auto;
    margin-top: 0;
  }
}

body .all .camp_area .camp_area_wooden img {
  width: 66%;
  max-width: 777px;
  margin-left: 40%;
}

@media (max-width: 1470px) {
  body .all .camp_area .camp_area_wooden img {
    margin-left: 34%;
  }
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden img {
    width: 100%;
    margin-left: 0%;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box {
  width: 50%;
  min-width: 480px;
  height: 200px;
  background-color: #f8f6e9;
  margin-top: -80px;
  margin-left: 16%;
  padding: 2px 0 4px 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box {
    width: 60%;
    height: 150px;
    min-width: initial;
    margin: auto;
    margin-top: -35px;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_title {
  font-size: 32px;
  color: #727171;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_title {
    color: white;
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_title {
    color: white;
    font-size: 18px;
    z-index: 1;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_title_underline {
  width: 180px;
  margin-left: 0;
  margin-top: -45px;
  position: relative;
  z-index: -1;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_title_underline {
    width: 140px;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #898989;
  font-size: 28px;
  margin-top: -20px;
}

@media (max-width: 768px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content {
    font-size: 18px;
    padding-bottom: 2%;
  }
}

@media (max-width: 605px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 360px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content {
    font-size: 14px;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_left {
  width: 50%;
  padding-left: 15%;
}

@media (max-width: 1470px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_left {
    padding-left: 8%;
  }
}

@media (max-width: 605px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_left {
    width: 100%;
    text-align: center;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_left p {
  margin-bottom: 0;
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_right {
  width: 50%;
  padding-left: 10%;
}

@media (max-width: 605px) {
  body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_right {
    width: 100%;
    text-align: center;
    padding-left: 8%;
  }
}

body .all .camp_area .camp_area_wooden .wooden_text_box .wooden_text_content .wooden_text_content_right p {
  margin-bottom: 0;
}

body .all .camp_area_tent {
  width: 100%;
  height: auto;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  body .all .camp_area_tent {
    margin-top: 5vh;
  }
}

body .all .camp_area_tent .tent_text_box {
  width: 80%;
  background-image: url(/img/03/air_area.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13vw 0;
  -ms-flex-wrap: 2;
      flex-wrap: 2;
  -ms-flex-preferred-size: 1475px;
      flex-basis: 1475px;
}

body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor {
  color: white;
  width: 50%;
  height: auto;
  background-color: rgba(226, 227, 223, 0.5);
  padding: 10px;
  text-align: center;
  margin: auto;
}

@media (max-width: 886px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor {
    padding: 0px;
  }
}

body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor .tent_text_title {
  font-size: 32px;
}

@media (max-width: 768px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor .tent_text_title {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor .tent_text_title {
    font-size: 14px;
  }
}

body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor span {
  font-size: 28px;
}

@media (max-width: 768px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor span {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  body .all .camp_area_tent .tent_text_box .tent_text_box_bgcolor span {
    font-size: 12px;
  }
}

body .all .coffee_area {
  width: 100%;
  height: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}

@media (max-width: 768px) {
  body .all .coffee_area {
    width: 100%;
  }
}

body .all .coffee_area .coffee_area_background_color {
  width: 50%;
  max-width: 870px;
  height: 570px;
  background-color: #f8f6e9;
  position: absolute;
  right: 0;
}

@media (max-width: 1650px) {
  body .all .coffee_area .coffee_area_background_color {
    height: 37vw;
  }
}

@media (max-width: 768px) {
  body .all .coffee_area .coffee_area_background_color {
    position: absolute;
    width: 70%;
    height: 43vw;
  }
}

body .all .coffee_area .coffee_area_background_color span {
  font-size: 32px;
  padding: 10px;
  position: absolute;
  top: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  body .all .coffee_area .coffee_area_background_color span {
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  body .all .coffee_area .coffee_area_background_color span {
    font-size: 18px;
  }
}

body .all .coffee_area .coffee_area_background_color .coffee_area_title_underline {
  width: 180px;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 710px;
}

body .all .coffee_area img {
  width: 870px;
  margin-top: 65px;
  margin-left: 605px;
  position: relative;
}

@media (max-width: 1649px) {
  body .all .coffee_area img {
    width: 65%;
    margin-left: 32%;
  }
}

@media (max-width: 768px) {
  body .all .coffee_area img {
    width: 80%;
    margin-left: 0;
    margin-top: 35px;
  }
}

body .all .coffee_area .coffee_area_background_img {
  width: 20vw;
  margin-top: -34vw;
}

@media (max-width: 768px) {
  body .all .coffee_area .coffee_area_background_img {
    display: none;
  }
}

body .all .coffee_area .coffee_area_background_img img {
  width: 100%;
  margin-left: 0;
  margin-bottom: -5.5vw;
}

body .all .segmentation {
  width: 50%;
  border: 2px solid #898989;
  margin: 0;
}

body .all .swiper-container {
  width: calc(100vw - 175px);
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  body .all .swiper-container {
    width: 100%;
  }
}

@media (max-width: 360px) {
  body .all .swiper-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

body .all .swiper-container .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 20vw;
}

@media (max-width: 768px) {
  body .all .swiper-container .swiper-wrapper .swiper-slide {
    width: 70%;
    height: 40vw;
  }
}
/*# sourceMappingURL=03-pasture.css.map */