@import "variable";
*{
    box-sizing: border-box;
}
body {
    .all{
        width: 1750px;
        width: auto;
        // background-color: rgb(247, 166, 166);
        margin-left: 175px;


        .page_name{
            font-size: $h1;
            color: $text-title-color;
            letter-spacing: 11px;
            padding: 1% 0 0 1.5%;
            .name_underline{
                width: 260px;
                border:1px solid $text-line-color;
                margin-left: 20px;
            }
        }
        .camp_area_1{
            width: 100%;
            height: auto;
            .camp_area_grass{
                display: flex;
                img{
                    width: 40vw;
                    height: 23.5vw;
                }
                .grass_text_box{
                    padding-left: 0.5vw;
                    padding-top: 4vw;
                    position: relative;
                    .grass_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                    }
                    .grass_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        position: absolute;
                        top: 6vw;
                        left: -2vw;
                    }
                    .grass_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;
                    }
                }
            }
        } 
        .camp_area_2{
            width: 100%;
            height: auto;
            padding-bottom: 10vw;
            .camp_area_wooden{
                justify-content: flex-end;
                position: relative;
                img{
                    width: 40vw;
                    height: 23.5vw;
                    position: absolute;
                    top: -8vw;
                    right: 14vw;
                } 
                .camp_area_wooden_bkcolor{
                    width: 37vw;
                    height: 11vw;
                    background-color:$nav-text-color ;
                    position: absolute;
                    top: 12vw;
                    left: 18.75vw;
                }
                .wooden_text_box{
                    width: 37vw;
                    height: 11vw;
                    
                    .wooden_text_title{
                        font-size: $h2;
                        color: $text-title-color;
                        text-align: center;
                    }
                    .underline_img{
                        text-align: center;
                        .wooden_text_title_underline{
                        width: 12vw; 
                        height: 0.4vw;
                        }
                    }
                    .wooden_text_content{
                        margin-top: 1vw;
                        font-size: $h3;
                        color: $text-content-color;
                        display: flex;
                        .wooden_text_content_left{
                            width: 50%;
                            padding-left: 7vw ;
                        }
                        .wooden_text_content_right{
                            width: 50%;
                            padding-left: 2vw ;
                        }
                    }
                }
            }

        }
        
        .tent_area{
            margin: 5vh 0;
            position: relative;
            img{
                width: 76vw;
                height: 29.65vw;
            }
            .tent_text_box_bgcolor{
                width: 40vw;
                height: 11vw;
                background-color: $box-color;
                opacity: 30%;
                position: absolute;
                top: 9vw;
                left:18vw ;
            }
            .tent_text_box{
                width: 40vw;
                height: auto;
                text-align: center;
                position: absolute;
                top: 10vw;
                left:18vw;
                .tent_text_title{
                    font-size: $h2;
                    color:$nav-text-color;
                    line-height: 70px;
                }
                p{
                    font-size: $h3;
                    color: $nav-text-color; 
                    line-height: 20px;
                }
            }
        }
        .coffee_area{
            width: 100%;
            height: auto;
            position: relative;
            margin: 5vw 0;
        
            .color_box{
                display: flex;
                justify-content: flex-end;
                .background_color_box{
                    width: 50vw;
                    height: 33vw;
                    color:$text-title-color;
                    font-size:$h1;
                    background-color: #e2e3df;
                    padding:1vw;

                    @media (max-width: 1220px){
                        
                    }
                    @media (max-width: 992px){
                        
                    }
                    @media (max-width: 768px){
                        
                    }
                    @media (max-width: 576px){
                        
                    }
                }
            }
            .coffee{
                width: 50vw;
                position: absolute;
                top:5vw;
                right: 15vw;

            }
        }   
        .segmentation{
            width: 50%;
            border:2px solid #898989;
            margin: 14vw 0 0 0;
        }
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 35%;
                height: 20vw;
            }
        }
        
    }
}




