@import "variable";

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1744px;
    height: 2569px;
    background-color: yellow;
    margin: auto;
    // 三個icon
    .icon-box {
        width: 100%;
        height: 100px;
        background-color: rgb(127, 224, 127);
    }
    .camping-title {
        width: 150px;
        height: 100px;
        background-color: crimson;
        margin: auto;
        text-align: center;
        span {
            font-size: $h2;
            color: $text-title-color;
            line-height: 100px;

            letter-spacing: 5px;
            border-bottom: 1px $text-line-color solid;
            padding-bottom: 5px;
            margin: auto;
        }
    }
    // 露營照片區
    .camping-photo-box {
        width: 1617px;
        height: 1140px;
        background-color: darkkhaki;
        margin: auto;
        // 照片1-3
        .pt-box-1-to-3 {
            width: 100%;
            height: 349px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .pt-box1 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;

                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }

                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
            .pt-box2 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
            .pt-box3 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
        }
        //照片4-6
        .pt-box-4-to-6 {
            width: 100%;
            height: 349px;
            margin-top: 43px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .pt-box4 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
            .pt-box5 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
            .pt-box6 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
        }
        // 照片7-8
        .pt-box-7-to-8 {
            width: 1070px;
            height: 349px;
            margin: auto;
            margin-top: 43px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .pt-box7 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkolivegreen;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
            .pt-box8 {
                width: 503px;
                height: 349px;
                // 302+47
                background-color: darkviolet;
                img {
                    width: 503px;
                    height: 302px;

                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-text {
                    width: 100%;
                    height: 47px;
                    background-color: darkseagreen;
                    font-size: $h2;
                    color: $text-content-color;
                    line-height: 65px;
                    text-align: right;
                    z-index: 1;

                    .text-line {
                        width: 15mm;
                        height: 4mm;
                        position: relative;
                        top: 10px;
                        left: 53px;
                        z-index: 0;
                    }
                }
            }
        }
    }

    .camping-introduction {
        width: 1617px;
        height: 865px;
        background-color: chartreuse;
        margin: auto;
        margin-top: 93px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .camping-notes {
            width: 913px;
            height: 402px;
            background-color: $box-color;
            .camping-notes-title {
                width: 160px;
                height: 65px;

                font-size: $h2;
                color: $text-title-color;
                line-height: 80px;
                text-align:center;

                letter-spacing: 5px;
                border-bottom: 1px $text-line-color solid;
                padding-bottom: 5px;
                margin:auto;
            }
            .camping-notes-content {
                width:502px;
                height:280px;
                
                font-size:$h3;
                color:$text-content-color;
                letter-spacing: 3px;
                
                margin:auto;
                margin-top:30px;
                margin-right:133px;
                display:flex;
                flex-wrap:wrap;
            }
        }
        .camping-price {
            width: 676px;
            height: 402px;
            background-color: pink;
            .camping-price-title {
                width: 160px;
                height: 65px;

                font-size: $h2;
                color: $text-title-color;
                line-height: 80px;
                text-align:center;

                letter-spacing: 5px;
                border-bottom: 1px $text-line-color solid;
                padding-bottom: 5px;
                margin:auto;
            }
            .camping-price-content {
                width:502px;
                height:280px;
                
                font-size:$h3;
                color:$text-content-color;
                letter-spacing: 3px;
                
                margin:auto;
                margin-top:30px;
                display:flex;
                flex-wrap:wrap;
            }
        }
        .camping-reservation {
            width: 1617px;
            height: 438px;
            background-color: blueviolet;
        }
    }
}
