@import "variable";
* {
    box-sizing: border-box;
    margin: 0;
}

section {
    width: 100%;
    // 之後用模板要取消
    // border: 1px black solid;
    margin: auto;
  

    // 大標題 CAMPING
    .camping-title {
        text-align: center;
        margin: auto;
        span {
            font-size: $h1;

            font-family: $font-family;

            color: $text-title-color;
            letter-spacing: 5px;
            border-bottom: 1px $text-line-color solid;
            padding-bottom: 5px;
            margin: auto;
            @media screen and (max-width: 540px) {
               font-size:$h2;
            }
            @media screen and (max-width: 360px) {
                font-size:$h3;
             }
            // @media screen and (max-width: 768px) {
            //    font-size:$h2;
            // }
        }
    }

    // 露營照片區
    .camping-photo-card {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px black solid;
        margin: auto;
        margin-top: 30px;

        // 每一個照片加文字
        .pt-box {
            width: 30%;
            padding-bottom: 40px;
            margin-bottom: -25px;
            @media screen and (max-width:768px) {
                margin-bottom:-40px;
            }
            // @media screen and (max-width: 1400px) {
            //     width: 35%;
            // }
            // @media screen and (max-width: 1000px) {
            //     width: 40%;
            // }
            @media screen and (max-width: 768px) {
                width: 47%;
            }
            @media screen and (max-width: 540px) {
                width: 100%;
            }
            .img-hover {
                width: 100%;
                position: relative;
                img {
                    max-width: 100%;
                    // css套件讓圖片形狀變特別
                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                }
                .pt-box-img-text {
                    width: 100%;
                    height: 98%;
                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                    background-color: rgba(221, 209, 209, 0.4);

                    color: white;
                    font-size: $h2;

                    font-family: $font-family;

                    font-weight: 600;
                    text-align: center;

                    position: absolute;
                    opacity: 0;
                    transition: all 200ms ease-in;
                    bottom: 4px;
                    @media screen and (max-width: 768px) {
                        opacity:1;
                    }

                    // 540px跳板-->有dataos的效果
                    @media screen and (max-width: 540px) {
                        &.aos-animate{
                            font-size: $h2;
                            opacity: 1;
                            // backface-visibility: visible;
                            width: 100%;
                            height: 98%;
                        }
                    }
                    // @media screen and (max-width: 360px) {
                    //     &.aos-animate{
                    //         font-size: $h7;
                    //         opacity: 1;
                    //         // backface-visibility: visible;
                    //         width: 100%;
                    //         height: 98%;
                    //     }
                    // }
                    div {
                        margin-top: 25%;
                        @media screen and (max-width: 1051px) {
                            font-size: $h3;
                        }
                        @media screen and (max-width: 900px) {
                            font-size: $h4;
                        }
                        @media screen and (max-width: 768px) {
                            margin-top: 20%;
                        }
                        @media screen and (max-width: 540px) {
                            font-size:$h3;
                         }
                         @media screen and (max-width: 360px) {
                            font-size:$h4;
                         }
                    }
                    // hover文字
                    // @media screen and (max-width: 768px) {
                    //     margin-top:10%;
                    // }
                }
                // 要直接用hover必須前面加一個 &
                // 意思是對img-hover做hover效果
                // 我在對img-hover做hover的同時，
                // pt-box-img-text會被我顯示出來
                &:hover .pt-box-img-text {
                    // display: block;
                    opacity: 0.8;
                    @media screen and (max-width: 768px) {
                        opacity: 1;
                    }
                }
            }
            // 照片下方文字(set區塊)
            .pt-box-text {
                width: 100%;
                height: 47px;
                font-size: $h2;
                font-family:$font-family;
                color: $text-content-color;
                // line-height: 65px;
                text-align: right;
                position: relative;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                z-index: 1; 
               
                @media screen and (max-width: 768px) {
                    width: 43%;
                    color:white;
                    text-align: center;
                    font-size: $h3;
                    position: relative;
                    left: 27%;
                    top: -35%;
                    z-index: 1;
                }
                span {
                    @media screen and (max-width:995px) {
                        width:100%;
                        font-size:$h4;
                    }
                    @media screen and (max-width:768px) {
                        width:100%;
                        font-size:$h5;
                    }
                    @media screen and (max-width: 540px) {
                        font-size:$h3;
                     }
                     @media screen and (max-width: 360px) {
                        font-size:$h4;
                     }
                }
                // @media screen and (max-width: 674px) {
                //     font-size:$h4;
                // }
                // @media screen and (max-width: 487px) {
                //     font-size:$h5;
                //     position:relative;
                //     top:-38%;
                // }
                // @media screen and (max-width: 373px) {
                //     font-size:$h6;
                // }
                .text-line {
                    width: 92px;
                    height: 15px;
                    position: relative;
                    z-index: -1;
                    top: 10px;
                    left: 88px;
                    @media screen and (max-width:995px) {
                        width:80px;
                        position:relative;
                        left:80px;
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        .pt-box7 {
            margin-left:20%;
            @media screen and (max-width:768px) {
                margin-left:0%;
            }
        }
        .pt-box8 {
            margin-right:15%;
            @media screen and (max-width:768px) {
                margin-right:0%;
            }
            .pt-box-text {
                font-size:$h3;
                .text-line-8 {
                    width: 130px;
                    height: 15px;
                    position: relative;
                    z-index: -1;
                    top: 10px;
                    left: 130px;
                    @media screen and (max-width:995px) {
                        width:115px;
                        position:relative;
                        left:110px;
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        // .pt-box8 {
        //     .pt-box-text {
        //         @media screen and (max-width:522px) {
        //            width:100px;
        //            position:relative;
        //            left:20%;
        //            font-size:$h4;
        //         }
        //         @media screen and (max-width:405px) {
        //             position:relative;
        //             left:15%;
        //             font-size:$h5;
        //          }
        //          @media screen and (max-width:345px) {
        //             position:relative;
        //             left:10%;
        //             font-size:$h6;
        //          }
        //     }
        // }
    }

    // 露營文字區塊
    .camping-introduction-box {
        width: 85%;

        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        border: 1px black solid;
        @media screen and (max-width:768px){
            margin-top:30px;
        }
        // 露營注意事項
        .camping-notes-box {
            width: 49%;
            background-color: $camping-note;
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            // 露營注意事項標題
            .camping-notes-title {
                width: 100%;
                font-size: $h2;
                color: $text-title-color;
                text-align: center;
                line-height: 60px;
                margin: auto;
                margin-top: 20px;
                @media screen and (max-width: 1271px) {
                    font-size: $h3;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h4;
                }
            }
            // 標題線
            .line {
                width: 28%;
                height: 1px;
                background: $text-line-color;
                margin: auto;
            }
            // 露營注意事項文字區塊
            .camping-notes-text {
                width: 100%;
                font-size: $h3;
                color: $text-content-color;
                line-height: 60px;
                margin: auto;
                padding-bottom: 30px;
                @media screen and (max-width: 1271px) {
                    font-size: $h4;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                    line-height: 40px;
                }
                p {
                    width:100%;
                    // 文字直接貼邊
                    background-color:yellow;
                    // margin-left: 12.5%;
                    margin-top: 20px;
                    // @media screen and (max-width: 1060px) {
                    //     margin-left: 4%;
                    // }
                    // @media screen and (max-width: 768px) {
                    //     text-align:center;
                    // }
                    // @media screen and (max-width: 689px) {
                    //     margin-left: 10%;
                    // }
                    // @media screen and (max-width: 615px) {
                    //     margin-left: 5%;
                    // }
                }
            }
        }
        // 露營收費區塊
        .camping-price {
            width: 49%;
            background-color: $camping-price;
            padding-bottom: 20px;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 30px;
            }
            // 露營收費標題
            .camping-price-title {
                width: 100%;
                height: auto;
                font-size: $h2;
                line-height: 60px;
                color: $text-title-color;
                text-align: center;
                margin: auto;
                margin-top: 20px;
                @media screen and (max-width: 1271px) {
                    font-size: $h3;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h4;
                }
            }
            .line {
                width: 20%;
                height: 1px;
                background: $text-line-color;
                margin: auto;
            }
            // 露營收費文字區塊
            .camping-price-text {
                width: 100%;
                font-size: $h3;
                color: $text-content-color;
                line-height: 50px;
                margin: auto;
                margin-top: 25px;
                @media screen and (max-width: 1271px) {
                    font-size: $h4;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                    line-height: 40px;
                }
                p {
                    margin-left: 27%;
                    @media screen and (max-width: 1415px) {
                        margin-left: 20%;
                    }
                    @media screen and (max-width: 820px) {
                        margin-left: 10%;
                    }
                    @media screen and (max-width: 768px) {
                        margin-left: 30%;
                    }
                    @media screen and (max-width: 595px) {
                        margin-left: 25%;
                    }
                    @media screen and (max-width: 689px) {
                        margin-left: 20%;
                    }
                    @media screen and (max-width: 441px) {
                        margin-left: 15%;
                    }
                }
            }
        }
        // 露營預約區塊
        .camping-reservation {
            width: 100%;
            height: auto;
            background-color: $camping-reservation;
            margin-top: 35px;
            padding-bottom: 50px;
            // 露營預約標題
            .camping-reservation-title {
                width: 100%;
                font-size: $h2;
                color: $text-title-color;
                text-align: center;
                padding-bottom: 5px;
                margin: auto;
                margin-top: 30px;
                @media screen and (max-width: 1271px) {
                    font-size: $h3;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h4;
                }
                // padding-top: 10px;
                // @media screen and (max-width: 1189px) {
                //     font-size: $h3;
                // }
                // @media screen and (max-width: 956px) {
                //     width: 20%;
                //     font-size: $h4;
                // }
                // @media screen and (max-width: 768px) {
                //     font-size: $h3;
                // }
                // @media screen and (max-width: 592px) {
                //     width: 30%;
                //     font-size: $h4;
                // }
                // @media screen and (max-width: 592px) {
                //     width: 30%;
                // }
            }
            .line {
                width: 10%;
                height: 1px;
                background: $text-line-color;
                margin: auto;
                margin-top: 5px;
                @media screen and (max-width: 768px) {
                    width:20%;
                }
            }
            // 露營預約文字區塊
            .camping-reservation-text {
                width: 100%;
                height: auto;
                font-size: $h3;
                color: $text-content-color;
                line-height: 50px;
                letter-spacing: 3px;
                margin: auto;
                margin-top: 30px;
                @media screen and (max-width: 1271px) {
                    font-size: $h4;
                }
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                    line-height: 40px;
                }
                // @media screen and (max-width: 1189px) {
                //   font-size: $h4;
                // }
                // @media screen and (max-width: 956px) {
                //   font-size: $h5;
                // }
                // @media screen and (max-width: 768px) {
                //   font-size: $h4;
                // }
                // @media screen and (max-width: 592px) {
                //   font-size: $h5;
                // }
                p {
                    width: 80%;
                    margin: auto;
                }
            }
            // @media screen and (max-width:1346px){
            //     width:900px;
            //     font-size:$h4;
            // }
            // @media screen and (max-width:1176px){
            //     width:800px;
            //     height:380px;
            // }
            // @media screen and (max-width:1048px){
            //     width:750px;
            // }
            // @media screen and (max-width:963px){
            //     width:700px;
            // }
            // @media screen and (max-width:894px){
            //     width:650px;
            // }
            // @media screen and (max-width:851px){
            //     width:600px;
            // }
            // @media screen and (max-width:768px){
            //     width:550px;
            // }
            // p {
            //     margin-top: 30px;
            // }
        }
    }
}
