body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container {
  max-width: 1890px;
  margin-left: 145px;
}

@media (max-width: 768px) {
  body .container {
    width: 100%;
    margin: 0;
  }
}

body .container .nav {
  width: auto;
  margin: 0 2%;
}

@media (max-width: 768px) {
  body .container .nav {
    margin: 0%;
  }
}

body .container .shop_title {
  font-size: 36px;
  margin: auto;
  color: #727171;
  margin: 1% 0;
  text-align: center;
}

body .container .shop_title samp {
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  letter-spacing: 6px;
}

body .container .content_top {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .content_top .content_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1%;
}

@media (max-width: 768px) {
  body .container .content_top .content_top_left {
    display: block;
    margin: 5% 5% 0 10%;
  }
}

body .container .content_top .content_top_rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1%;
}

@media (max-width: 768px) {
  body .container .content_top .content_top_rigth {
    display: block;
    margin: 5% 10% 0 5%;
  }
}

body .container .content_top .commodity_top_card {
  margin: 2%;
}

body .container .content_top .commodity_top_card .imgbox {
  margin-bottom: 5%;
}

body .container .content_top .commodity_top_card .text_box {
  text-align: center;
  font-size: 18px;
  color: #898989;
}

body .container .content_top .commodity_top_card .text_box p {
  margin: 0;
}

body .container .content_top .commodity_top_card .buy_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_left {
  width: 25px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
  width: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  border-bottom: 2px #898989 solid;
  border-top: 2px #898989 solid;
  color: #898989;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_right {
  width: 25px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_bottom {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .content_bottom .content_bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1%;
}

@media (max-width: 768px) {
  body .container .content_bottom .content_bottom_left {
    display: block;
    margin: 0 5% 0 10%;
  }
}

body .container .content_bottom .content_bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1%;
}

@media (max-width: 768px) {
  body .container .content_bottom .content_bottom_right {
    display: block;
    margin: 0 10% 0 5%;
  }
}

body .container .content_bottom .commodity_bottom_card {
  margin: 2%;
}

body .container .content_bottom .commodity_bottom_card .imgbox {
  margin-bottom: 5%;
}

body .container .content_bottom .commodity_bottom_card .text_box {
  text-align: center;
  font-size: 18px;
  color: #898989;
}

body .container .content_bottom .commodity_bottom_card .text_box p {
  margin: 0;
}

body .container .content_bottom .commodity_bottom_card .buy_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
  width: 25px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
  width: 30px;
  text-align: center;
  line-height: 25px;
  border-bottom: 2px #898989 solid;
  border-top: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
  width: 25px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: white;
}
/*# sourceMappingURL=06-shopping.css.map */