body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container {
  max-width: 1890px;
  margin-left: 145px;
}

@media (max-width: 768px) {
  body .container {
    width: 100%;
    margin: 0;
  }
}

body .container .nav {
  width: auto;
  margin: 0 2%;
}

@media (max-width: 768px) {
  body .container .nav {
    margin: 0%;
  }
}

body .container .shop_title {
  font-size: 36px;
  margin: auto;
  color: #727171;
  margin: 1% 0;
  text-align: center;
}

body .container .shop_title samp {
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  letter-spacing: 6px;
}

@media (max-width: 1300px) {
  body .container .shop_title {
    font-size: 32px;
  }
}

@media (max-width: 1117px) {
  body .container .shop_title {
    font-size: 28px;
  }
}

@media (max-width: 924px) {
  body .container .shop_title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  body .container .shop_title {
    font-size: 32px;
  }
}

body .container .content_top {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .content_top .content_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1%;
}

@media (max-width: 768px) {
  body .container .content_top .content_top_left {
    display: block;
    margin: 5% 5% 0 10%;
  }
}

body .container .content_top .content_top_rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1%;
}

@media (max-width: 768px) {
  body .container .content_top .content_top_rigth {
    display: block;
    margin: 5% 10% 0 5%;
  }
}

body .container .content_top .commodity_top_card {
  margin: 2%;
  margin-bottom: 0;
}

body .container .content_top .commodity_top_card .imgbox {
  margin-bottom: 5%;
}

body .container .content_top .commodity_top_card .text_box {
  text-align: center;
  font-size: 22px;
  color: #898989;
}

@media (max-width: 1300px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 20px;
  }
}

@media (max-width: 1117px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 18px;
  }
}

@media (max-width: 1020px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 16px;
  }
}

@media (max-width: 924px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 14px;
  }
}

@media (max-width: 828px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 16px;
  }
}

@media (max-width: 564px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  body .container .content_top .commodity_top_card .text_box {
    font-size: 12px;
  }
}

body .container .content_top .commodity_top_card .text_box p {
  margin: 0;
}

body .container .content_top .commodity_top_card .buy_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_left {
  width: 25px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_left:hover {
  background-color: lightgray;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_left:focus {
  outline: initial;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_left:active {
  background-color: lightcoral;
}

@media (max-width: 1300px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_left {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

@media (max-width: 924px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_left {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

@media (max-width: 828px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_left {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

@media (max-width: 360px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_left {
    width: 12px;
    height: 14px;
    line-height: 14px;
  }
}

body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  border-left: 2px #898989 solid;
  border-top: 2px #898989 solid;
  color: #898989;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_quantity:focus {
  outline-width: 0px;
}

@media (max-width: 1300px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
    width: 22px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 924px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
    width: 18px;
    height: 16px;
    font-size: 14px;
  }
}

@media (max-width: 828px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
    width: 16px;
    height: 14px;
    line-height: 16px;
  }
}

@media (max-width: 360px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_quantity {
    width: 12px;
    height: 12px;
    line-height: 10px;
  }
}

body .container .content_top .commodity_top_card .buy_button .buy_button_right {
  width: 25px;
  height: 27px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_right:hover {
  background-color: lightgray;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_right:focus {
  outline: initial;
}

body .container .content_top .commodity_top_card .buy_button .buy_button_right:active {
  background-color: lightcoral;
}

@media (max-width: 1300px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_right {
    width: 22px;
    height: 22px;
    line-height: 20px;
  }
}

@media (max-width: 924px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_right {
    width: 18px;
    height: 18px;
    line-height: 16px;
  }
}

@media (max-width: 828px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_right {
    width: 16px;
    height: 16px;
    line-height: 14px;
  }
}

@media (max-width: 360px) {
  body .container .content_top .commodity_top_card .buy_button .buy_button_right {
    width: 12px;
    height: 14px;
    line-height: 12px;
  }
}

body .container .content_bottom {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .content_bottom .content_bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1%;
}

@media (max-width: 768px) {
  body .container .content_bottom .content_bottom_left {
    display: block;
    margin: 0 5% 0 10%;
  }
}

body .container .content_bottom .content_bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1%;
}

@media (max-width: 768px) {
  body .container .content_bottom .content_bottom_right {
    display: block;
    margin: 0 10% 0 5%;
  }
}

body .container .content_bottom .commodity_bottom_card {
  margin: 2%;
}

body .container .content_bottom .commodity_bottom_card .imgbox {
  margin-bottom: 5%;
}

body .container .content_bottom .commodity_bottom_card .text_box {
  text-align: center;
  font-size: 18px;
  color: #898989;
}

@media (max-width: 1300px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 20px;
  }
}

@media (max-width: 1117px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 18px;
  }
}

@media (max-width: 1020px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 16px;
  }
}

@media (max-width: 924px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 14px;
  }
}

@media (max-width: 828px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body .container .content_bottom .commodity_bottom_card .text_box {
    font-size: 20xp;
  }
}

body .container .content_bottom .commodity_bottom_card .text_box p {
  margin: 0;
}

body .container .content_bottom .commodity_bottom_card .buy_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
  width: 25px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left:hover {
  background-color: lightgray;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left:focus {
  outline: initial;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left:active {
  background-color: lightcoral;
}

@media (max-width: 1300px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

@media (max-width: 924px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

@media (max-width: 828px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

@media (max-width: 360px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_left {
    width: 12px;
    height: 14px;
    line-height: 14px;
  }
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-left: 2px #898989 solid;
  border-top: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity:focus {
  outline-width: 0px;
}

@media (max-width: 1300px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
    width: 22px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 924px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
    width: 18px;
    height: 16px;
    font-size: 14px;
  }
}

@media (max-width: 828px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
    width: 16px;
    height: 14px;
    line-height: 16px;
  }
}

@media (max-width: 360px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_quantity {
    width: 12px;
    height: 12px;
    line-height: 10px;
  }
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
  width: 25px;
  height: 27px;
  text-align: center;
  line-height: 25px;
  border: 2px #898989 solid;
  font-size: 18px;
  color: #898989;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: white;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right:hover {
  background-color: lightgray;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right:focus {
  outline: initial;
}

body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right:active {
  background-color: lightcoral;
}

@media (max-width: 1300px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

@media (max-width: 924px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
    width: 18px;
    height: 18px;
    line-height: 16px;
  }
}

@media (max-width: 828px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
    width: 16px;
    height: 16px;
    line-height: 14px;
  }
}

@media (max-width: 360px) {
  body .container .content_bottom .commodity_bottom_card .buy_button .buy_button_right {
    width: 12px;
    height: 14px;
    line-height: 10px;
  }
}
/*# sourceMappingURL=06-shopping.css.map */