@import 'variable';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .container{
    max-width: 1890px;
    background-color: aqua;
    margin-left: 145px;
    
    .nav {
      width: auto;
      margin:0 2%;
      
    }
  .shop_title {
    font-size: 36px;
    margin: auto;
    color: #727171;
    margin: 1% 0;
    text-align: center;
    samp{
      border-bottom:1px #898989 solid; padding-bottom:5px;
    }  
  }
  .content_top{
    width: auto;
    display: flex;
    justify-content:space-around;
    .commodity_top_card{
      margin: 2%;
      .imgbox{
        margin-bottom: 5%;
      }
      .text_box{
        text-align: center;
        font-size: 18px;
        color: #898989;
        p{
          margin: 0;
        }
      }
      .buy_button{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        
        .buy_button_left{
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          // background-color:yellow;
          border:3px #898989 solid;
          
          font-size: 18px;
          color: #898989;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        .buy_button_quantity{
          width: 30px;
          text-align: center;
          line-height: 25px;
          font-size: 18px;
          border-bottom:3px #898989 solid;
          border-top:3px #898989 solid;
          color: #898989;
        }
        .buy_button_right{
          width: 25px;
          text-align: center;
          line-height: 25px;
          border:3px #898989 solid;
          font-size: 18px;
          color: #898989;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }
  .content_bottom{
    width: auto;
    display: flex;
    justify-content:space-around;
    .commodity_bottom_card{
      margin: 2%;
      .imgbox{
        margin-bottom: 5%;
      }
      .text_box{
        text-align: center;
        font-size: 18px;
        color: #898989;
        p{
          margin: 0;
        }
      }
      .buy_button{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        .buy_button_left{
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          border:3px #898989 solid;
          font-size: 18px;
          color: #898989;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; 
        }
        .buy_button_quantity{
          width: 30px;
          text-align: center;
          line-height: 25px;
          border-bottom:3px #898989 solid;
          border-top:3px #898989 solid;
          font-size: 18px;
         color: #898989;
        }
        .buy_button_right{
          width: 25px;
          text-align: center;
          line-height: 25px;
          border:3px #898989 solid;
          font-size: 18px;
          color: #898989;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        
      }
    }
      
  }
  }
  

}
