@import "variable";
* {
    box-sizing: border-box;
    margin: 0;
}

section {
    width: 100%;
    margin: auto;
    .suggest-title {
        text-align: center;
        margin: auto;
        // span裡面的SUGGEST
        span {
            font-size: $h1;
            font-family: $font-family;
            color: $text-title-color;
            letter-spacing: 5px;

            border-bottom: 1px $text-line-color solid;

            padding-bottom: 5px;
            margin: auto;
            @media screen and (max-width:538px) {
                font-size:$h6;
            }
        }
    }
    // 意見表區塊(整體)
    .suggest-box {
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .picture {
            max-width: 57%;
            height: auto;
            // background-color: gray;
            background-image: url(/img/07/74.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 80% 50%;
            @media screen and (max-width:1320px) {
                max-width:100%;
            }
            
            img {
                width: 100%;
                opacity: 0;
            }
        }
        .text-box {
            width: 40%;
            // height: 100%;
            // margin-top:5%;
            @media screen and (max-width:1320px) {
                width:100%;
            }
            .text-top {
                width: 100%;
                @media screen and (max-width:1321px) {
                    margin-top:2%;
                }
                .text-top-text {
                    font-size: $h3;
                    color:$text-content-color;
                    font-family: $font-family;
                    line-height:50px;
                    @media screen and (max-width:768px) {
                        font-size:$h4;
                        line-height:30px;
                    }
                    @media screen and (max-width:538px) {
                        font-size:$h6;
                    }
                    .line {
                        width: 95%;
                        height: 1px;
                        background: $text-line-color;
                        margin: auto;
                        margin-top: 2%;
                    }
                }
            }
            .text-bottom {
                width: 100%;
                padding-bottom:50px;
                display: flex;
                justify-content: space-between;
                .contact-information {
                    width: 40%;
                    padding-bottom:50px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    .contact-box {
                        width: 100%;
                        margin-top:15%;
                        li {
                            font-size: $h3;
                            color:$text-content-color;
                            font-family: $font-family;
                            list-style-type: square;
                            @media screen and (max-width:768px) {
                                font-size:$h4;
                            }
                            @media screen and (max-width:538px) {
                                font-size:$h6;
                            }
                        }
                        .input-box {
                            width: 80%;
                            color:$text-content-color;
                            font-size: $h3;
                            font-family: $font-family;
                            margin-left: 10%;
                            margin-top: 3%;
                            @media screen and (max-width:768px) {
                                font-size:$h4;
                            }
                            @media screen and (max-width:538px) {
                                font-size:$h6;
                            }
                        }
                    }
                }
                .suggest_and_button {
                    width: 50%;
                     @media screen and (max-width:1321px) {
                        width: 45%;
                        
                    }
                    .suggest {
                        width: 100%;
                        padding-bottom:30px;
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            margin-top:12%;
                            color:$text-content-color;
                            font-size: $h3;
                            font-family: $font-family;
                            list-style-type: square;
                            @media screen and (max-width:768px) {
                                font-size:$h4;
                            }
                            @media screen and (max-width:538px) {
                                font-size:$h6;
                            }
                        }
                        textarea {
                            max-width: 80%;
                            color:$text-content-color;
                            font-size: $h3;
                            font-family: $font-family;
                            margin-left: 15%;
                            margin-top:5%;
                            resize : none;
                            @media screen and (max-width:768px) {
                                font-size:$h4;
                            }
                            @media screen and (max-width:538px) {
                                font-size:$h6;
                            }
                        }
                    }
                    .button {
                        width: 100%;
                        .post-button {
                            width: 40%;
                            height: 13%;
                            color:white;
                            font-size: $h3;
                            font-family: $font-family;
                            border: 1px $reservation-btn-color solid;
                            border-radius: 7px;
                            background-color: $reservation-btn-color;
                            margin: auto;
                            margin-left: 14%;
                            padding:10px 0;
                            @media screen and (max-width:768px) {
                                font-size:$h4;
                            }
                            @media screen and (max-width:538px) {
                                width: 45%;
                                font-size:$h6;
                            }
                           
                        }
                    }
                }
            }
        }
    }
}
