* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

section {
  width: 100%;
  margin: auto;
  border: 1px black solid;
}

section .suggest-title {
  text-align: center;
  margin: auto;
}

section .suggest-title span {
  font-size: 40px;
  font-family: Microsoft JhengHei;
  color: #727171;
  letter-spacing: 5px;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
}

section .suggest-box {
  width: 90%;
  height: auto;
  border: 1px black solid;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .suggest-box .picture {
  max-width: 53%;
  height: auto;
  background-color: gray;
  background-image: url(/img/07/74.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 50%;
}

@media screen and (max-width: 1320px) {
  section .suggest-box .picture {
    max-width: 100%;
  }
}

section .suggest-box .picture img {
  width: 100%;
  opacity: 0;
}

section .suggest-box .text-box {
  width: 45%;
  height: 100%;
  border: 1px red solid;
}

@media screen and (max-width: 1320px) {
  section .suggest-box .text-box {
    width: 100%;
  }
}

section .suggest-box .text-box .text-top {
  width: 100%;
}

section .suggest-box .text-box .text-top .text-top-text {
  font-size: 28px;
  line-height: 50px;
}

section .suggest-box .text-box .text-top .text-top-text .line {
  width: 95%;
  height: 1px;
  background: #898989;
  margin: auto;
  margin-top: 2%;
}

section .suggest-box .text-box .text-bottom {
  width: 100%;
  background-color: cornflowerblue;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .suggest-box .text-box .text-bottom .contact-information {
  width: 40%;
  background-color: #64ed7b;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

section .suggest-box .text-box .text-bottom .contact-information .contact-box {
  width: 100%;
  margin-top: 15%;
}

section .suggest-box .text-box .text-bottom .contact-information .contact-box li {
  font-size: 28px;
  list-style-type: square;
}

section .suggest-box .text-box .text-bottom .contact-information .contact-box .input-box {
  width: 60%;
  font-size: 28px;
  margin-left: 10%;
  margin-top: 2%;
}

section .suggest-box .text-box .text-bottom .suggest_and_button {
  width: 50%;
}

section .suggest-box .text-box .text-bottom .suggest_and_button .suggest {
  width: 100%;
  margin-top: 12%;
  background-color: darkgreen;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .suggest-box .text-box .text-bottom .suggest_and_button .suggest li {
  font-size: 28px;
  list-style-type: square;
}

section .suggest-box .text-box .text-bottom .suggest_and_button .suggest .suggest-text {
  max-width: 60%;
  height: 300px;
  font-size: 28px;
  margin-left: 10%;
  margin-top: 5%;
}

section .suggest-box .text-box .text-bottom .suggest_and_button .button {
  width: 100%;
  margin-top: 15%;
  background-color: yellow;
}

section .suggest-box .text-box .text-bottom .suggest_and_button .button .post-button {
  width: 120px;
  height: 50px;
  font-size: 28px;
  border: 1px #c9bc9c solid;
  border-radius: 7px;
  background-color: #c9bc9c;
  margin: auto;
  margin-left: 10%;
  margin-top: 3%;
}
/*# sourceMappingURL=07-suggest.css.map */