@import "variable";
* {
    box-sizing: border-box;
    margin: 0;
}

section {
    width: 100%;
    margin: auto;
    border: 1px black solid;
    .suggest-title {
        text-align: center;
        margin: auto;
        // span裡面的SUGGEST
        span {
            font-size: $h1;
            font-family: $font-family;
            color: $text-title-color;
            letter-spacing: 5px;

            border-bottom: 1px $text-line-color solid;

            padding-bottom: 5px;
            margin: auto;
        }
    }
    .suggest-box {
        width: 90%;
        height: auto;
        border: 1px black solid;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .picture {
            max-width: 53%;
            height: auto;
            background-color: gray;

            background-image: url(/img/07/74.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 80% 50%;
            @media screen and (max-width:1320px) {
                max-width:100%;
            }
            img {
                width: 100%;
                opacity: 0;
            }
        }
        .text-box {
            width: 45%;
            height: 100%;
            border:1px red solid;
            @media screen and (max-width:1320px) {
                width:100%;
            }
            .text-top {
                width: 100%;
                .text-top-text {
                    font-size: $h3;
                    line-height:50px;
                    .line {
                        width: 95%;
                        height: 1px;
                        background: $text-line-color;
                        
                        margin: auto;
                        margin-top: 2%;
                    }
                }
            }
            .text-bottom {
                width: 100%;
                background-color: cornflowerblue;
                padding-bottom:50px;
                display: flex;
                justify-content: space-between;
                .contact-information {
                    width: 40%;
                    background-color: rgb(100, 237, 123);
                    padding-bottom:50px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    .contact-box {
                        width: 100%;
                        margin-top:15%;
                        li {
                            font-size: $h3;
                            list-style-type: square;
                        }
                        .input-box {
                            width: 60%;
                            font-size: $h3;
                            margin-left: 10%;
                            margin-top: 2%;
                        }
                    }
                }
                .suggest_and_button {
                    width: 50%;
                    .suggest {
                        width: 100%;
                        margin-top:12%;
                        background-color: darkgreen;
                        padding-bottom:100px;
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            font-size: $h3;
                            list-style-type: square;
                        }
                        .suggest-text {
                            max-width: 60%;
                            height:300px;
                            font-size: $h3;
                            margin-left: 10%;
                            margin-top:5%;
                        }
                    }
                    .button {
                        width: 100%;
                        margin-top:15%;
                        background-color: yellow;
                        .post-button {
                            width: 120px;
                            height: 50px;
                            font-size: $h3;
                            border: 1px $reservation-btn-color solid;
                            border-radius: 7px;
                            background-color: $reservation-btn-color;
                            margin: auto;
                            margin-left: 10%;
                            margin-top:3%;
                        }
                    }
                }
            }
        }
    }
}
