$text-title-color:#727171;
$text-content-color:#898989;
$text-line-color:#898989;

$nav-text-color:#f7f8f8;
$footer-text-color:#f7f8f8;

$footer-bg-color:#b5b5b6;

$box-color:#e2e3df;

$reservation-btn-color:#c9bc9c;

$icon-color:#898989;

$h1: 36px;
$h2: 32px;
$h3: 28px;
$h4: 22px;



