$text-title-color:#727171;
$text-content-color:#898989;
$text-line-color:#898989;
$font-family:Microsoft JhengHei;

$nav-text-color:#f7f8f8;
$footer-text-color:#f7f8f8;

$footer-bg-color:#b5b5b6;

$box-color:#e2e3df;

$reservation-btn-color:#c9bc9c;

$icon-color:#898989;

$camping-note:#f8f9f9;
$camping-price:#f5f7f1;
$camping-reservation:#f8f6e9;

$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 22px;
$h5: 20px;
$h6: 18px;
$h7: 16px;
$h8: 14px;
$h9: 12px;




