* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

section {
  width: 100%;
  border: 1px black solid;
  margin: auto;
}

section .camping-title {
  margin: auto;
  text-align: center;
}

section .camping-title span {
  font-size: 32px;
  color: #727171;
  line-height: 100px;
  letter-spacing: 5px;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
}

section .camping-photo-card {
  width: 83%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .camping-photo-card .pt-box {
  max-width: 503px;
  height: 349px;
  margin-top: 10px;
}

section .camping-photo-card .pt-box a {
  text-decoration: none;
}

section .camping-photo-card .pt-box a .img-hover {
  max-width: 100%;
  height: auto;
  position: relative;
}

section .camping-photo-card .pt-box a .img-hover img {
  max-width: 100%;
  --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
}

section .camping-photo-card .pt-box a .img-hover .pt-box-img-text {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  font-size: 32px;
  font-weight: 600;
  color: #727171;
  background-color: rgba(221, 209, 209, 0.8);
  --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  position: absolute;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  bottom: 4px;
}

section .camping-photo-card .pt-box a .img-hover:hover .pt-box-img-text {
  display: block;
  opacity: 0.8;
}

section .camping-photo-card .pt-box .pt-box-text {
  width: 100%;
  height: 47px;
  font-size: 32px;
  color: #898989;
  line-height: 65px;
  text-align: right;
  position: relative;
  z-index: 1;
}

section .camping-photo-card .pt-box .pt-box-text .text-line {
  width: 25mm;
  height: 4mm;
  position: relative;
  top: 10px;
  left: 90px;
  z-index: -1;
}

section .camping-photo-card .pt-box .pt-box-text .text-line-8 {
  width: 40mm;
  height: 4mm;
  position: relative;
  top: 10px;
  left: 150px;
  z-index: -1;
}

section .camping-introduction-box {
  width: 83%;
  margin: auto;
  margin-top: 100px;
}

section .camping-introduction-box .camping-notes-and-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .camping-introduction-box .camping-notes-and-price .camping-notes-box {
  width: 58%;
  background-color: #e2e3df;
}

section .camping-introduction-box .camping-notes-and-price .camping-notes-box .camping-notes-title {
  width: 200px;
  height: 50px;
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 15px;
}

section .camping-introduction-box .camping-notes-and-price .camping-notes-box .camping-notes-text {
  width: 500px;
  height: 300px;
  color: #898989;
  font-size: 28px;
  line-height: 50px;
  margin: auto;
  margin-top: 30px;
}

section .camping-introduction-box .camping-notes-and-price .camping-price {
  width: 40%;
  background-color: #e2e3df;
}

section .camping-introduction-box .camping-notes-and-price .camping-price .camping-price-title {
  width: 150px;
  height: 50px;
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 15px;
}

section .camping-introduction-box .camping-notes-and-price .camping-price .camping-price-text {
  width: 400px;
  height: 300px;
  color: #898989;
  font-size: 28px;
  line-height: 50px;
  margin: auto;
  margin-top: 35px;
  margin-right: 110px;
}

section .camping-introduction-box .camping-notes-and-price .camping-price .camping-price-text p span {
  margin-left: 150px;
}

section .camping-introduction-box .camping-notes-and-price .camping-price .camping-price-text #price-text-3 {
  margin-top: 20px;
}

section .camping-introduction-box .camping-reservation {
  width: 100%;
  background-color: #e2e3df;
  margin-top: 35px;
  padding-bottom: 50px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-title {
  width: 150px;
  height: 60px;
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
  padding-top: 10px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-text {
  width: 1080px;
  height: 300px;
  color: #898989;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 30px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-text p {
  margin-top: 30px;
}
/*# sourceMappingURL=rwd-camping.css.map */