                @import "variable";
                * {
                    box-sizing: border-box;
                    margin: 0;
                }
                
                section {
                    // 之後用模板要取消
                    width: 100%;
                    border: 1px black solid;
                    margin: auto;
                    // 大標題 CAMPING
                    .camping-title {
                        text-align: center;
                        margin: auto;
                        span {
                            font-size: $h2;
                            color: $text-title-color;
                            // line-height: 100px;
                            letter-spacing: 5px;
                            border-bottom: 1px $text-line-color solid;
                            padding-bottom: 5px;
                            margin: auto;
                        }
                    }
                    // 露營照片區
                    .camping-photo-card {
                        width: 85%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        border: 1px black solid;
                        margin: auto;
                        margin-top: 20px;
                        // 每一個照片加文字
                        .pt-box {
                            width: 30%;
                            padding-bottom: 40px;
                            @media screen and (max-width: 1400px) {
                                width: 35%;
                            }
                            @media screen and (max-width: 1000px) {
                                width: 40%;
                            }
                            @media screen and (max-width: 768px) {
                                width: 48%;
                            }
                            .img-hover {
                                width: 100%;
                                position: relative;
                                img {
                                    max-width: 100%;
                                    // css套件讓圖片形狀變特別
                                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                                }
                                .pt-box-img-text {
                                    width: 100%;
                                    height: 98%;
                                    background-color: rgba(221, 209, 209, 0.8);
                                    --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                                    clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
                                    font-size: $h2;
                                    font-weight: 600;
                                    color: $text-title-color;
                                    text-align: center;
                                    position: absolute;
                                    opacity: 0;
                                    transition: all 200ms ease-in;
                                    bottom: 4px;
                                    @media screen and (max-width: 768px) {
                                        font-size: $h3;
                                        opacity: 1;
                                        backface-visibility: visible;
                                        width: 100%;
                                        height: 98%;
                                    }
                                    div {
                                        margin-top: 25%;
                                    }
                                    // hover文字
                                    // @media screen and (max-width: 768px) {
                                    //     line-height: 330.36px;
                                    // }
                                }
                                // 要直接用hover必須前面加一個 &
                                // 意思是對img-hover做hover效果
                                // 我在對img-hover做hover的同時，
                                // pt-box-img-text會被我顯示出來
                                &:hover .pt-box-img-text {
                                    // display: block;
                                    opacity: 0.8;
                                    @media screen and (max-width: 768px) {
                                        opacity: 1;
                                    }
                                }
                            }
                            // 照片下方文字(set區塊)
                            .pt-box-text {
                                width: 100%;
                                height: 47px;
                                font-size: $h2;
                                color: $text-content-color;
                                line-height: 65px;
                                text-align: right;
                                position: relative;
                                z-index: 1;
                                .text-line {
                                    width: 25mm;
                                    height: 4mm;
                                    position: relative;
                                    z-index: -1;
                                    top: 10px;
                                    left: 90px;
                                }
                                .text-line-8 {
                                    width: 40mm;
                                    height: 4mm;
                                    position: relative;
                                    z-index: -1;
                                    top: 10px;
                                    left: 150px;
                                }
                            }
                        }
                    }
                    // 露營文字區塊
                    .camping-introduction-box {
                        width: 85%;
                        // height: auto;
                        margin: auto;
                        margin-top: 100px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        border: 1px black solid;
                        // text-align: center;
                        // 露營注意事項
                        .camping-notes-box {
                            width: 49%;
                            background-color: $box-color;
                            // 露營注意事項標題
                            .camping-notes-title {
                                width: 100%;
                                font-size: $h2;
                                color: $text-title-color;
                                text-align: center;
                                line-height: 60px;
                                margin: auto;
                                margin-top: 20px;
                            }
                            // 標題線
                            .line {
                                width: 30%;
                                height: 1px;
                                background: $text-line-color;
                                margin: auto;
                            }
                            // 露營注意事項文字區塊
                            .camping-notes-text {
                                width: 100%;
                                font-size: $h3;
                                color: $text-content-color;
                                line-height: 60px;
                                margin: auto;
                                padding-bottom: 30px;
                                p {
                                    margin-left: 12.5%;
                                    margin-top: 20px;
                                }
                            }
                        }
                        // 露營收費區塊
                        .camping-price {
                            width: 49%;
                            background-color: $box-color;
                            // 露營收費標題
                            .camping-price-title {
                                width: 100%;
                                height: auto;
                                font-size: $h2;
                                line-height: 60px;
                                color: $text-title-color;
                                text-align: center;
                                margin: auto;
                                margin-top: 20px;
                            }
                            .line {
                                width: 25%;
                                height: 1px;
                                background: $text-line-color;
                                margin: auto;
                            }
                            // 露營收費文字區塊
                            .camping-price-text {
                                width: 100%;
                                font-size: $h3;
                                color: $text-content-color;
                                line-height: 50px;
                                margin: auto;
                                margin-top: 25px;
                                p {
                                    margin-left: 30%;
                                }
                            }
                        }
                        // 露營預約區塊
                        .camping-reservation {
                            width: 100%;
                            height: auto;
                            background-color: $box-color;
                            margin-top: 35px;
                            padding-bottom: 50px;
                            // 露營預約標題
                            .camping-reservation-title {
                                width: 100%;
                                font-size: $h2;
                                color: $text-title-color;
                                text-align: center;
                                padding-bottom: 5px;
                                margin: auto;
                                margin-top: 30px;
                                // padding-top: 10px;
                                // @media screen and (max-width: 1189px) {
                                //     font-size: $h3;
                                // }
                                // @media screen and (max-width: 956px) {
                                //     width: 20%;
                                //     font-size: $h4;
                                // }
                                // @media screen and (max-width: 768px) {
                                //     font-size: $h3;
                                // }
                                // @media screen and (max-width: 592px) {
                                //     width: 30%;
                                //     font-size: $h4;
                                // }
                                // @media screen and (max-width: 592px) {
                                //     width: 30%;
                                // }
                            }
                            .line {
                                width: 15%;
                                height: 1px;
                                background: $text-line-color;
                                margin: auto;
                                margin-top: 5px;
                            }
                            // 露營預約文字區塊
                            .camping-reservation-text {
                                width: 100%;
                                height: auto;
                                font-size: $h3;
                                color: $text-content-color;
                                line-height: 50px;
                                letter-spacing: 3px;
                                margin: auto;
                                margin-top: 30px;
                                // @media screen and (max-width: 1189px) {
                                //   font-size: $h4;
                                // }
                                // @media screen and (max-width: 956px) {
                                //   font-size: $h5;
                                // }
                                // @media screen and (max-width: 768px) {
                                //   font-size: $h4;
                                // }
                                // @media screen and (max-width: 592px) {
                                //   font-size: $h5;
                                // }
                                p {
                                    width: 80%;
                                    margin: auto;
                                }
                            }
                            // @media screen and (max-width:1346px){
                            //     width:900px;
                            //     font-size:$h4;
                            // }
                            // @media screen and (max-width:1176px){
                            //     width:800px;
                            //     height:380px;
                            // }
                            // @media screen and (max-width:1048px){
                            //     width:750px;
                            // }
                            // @media screen and (max-width:963px){
                            //     width:700px;
                            // }
                            // @media screen and (max-width:894px){
                            //     width:650px;
                            // }
                            // @media screen and (max-width:851px){
                            //     width:600px;
                            // }
                            // @media screen and (max-width:768px){
                            //     width:550px;
                            // }
                            // p {
                            //     margin-top: 30px;
                            // }
                        }
                    }
                }