* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

section {
  width: 100%;
  height: 10000px;
  border: 1px black solid;
  margin: auto;
}

section .camping-title {
  text-align: center;
  margin: auto;
}

section .camping-title span {
  font-size: 32px;
  color: #727171;
  letter-spacing: 5px;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
}

section .camping-photo-card {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px black solid;
  margin: auto;
  margin-top: 20px;
}

section .camping-photo-card .pt-box {
  width: 30%;
  padding-bottom: 40px;
}

@media screen and (max-width: 1400px) {
  section .camping-photo-card .pt-box {
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  section .camping-photo-card .pt-box {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  section .camping-photo-card .pt-box {
    width: 48%;
  }
}

section .camping-photo-card .pt-box .img-hover {
  width: 100%;
  position: relative;
}

section .camping-photo-card .pt-box .img-hover img {
  max-width: 100%;
  --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
}

section .camping-photo-card .pt-box .img-hover .pt-box-img-text {
  width: 100%;
  height: 98%;
  background-color: rgba(221, 209, 209, 0.8);
  --webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  font-size: 32px;
  font-weight: 600;
  color: #727171;
  text-align: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  bottom: 4px;
}

@media screen and (max-width: 768px) {
  section .camping-photo-card .pt-box .img-hover .pt-box-img-text.aos-animate {
    font-size: 28px;
    opacity: 1;
    width: 100%;
    height: 98%;
  }
}

section .camping-photo-card .pt-box .img-hover .pt-box-img-text div {
  margin-top: 25%;
}

section .camping-photo-card .pt-box .img-hover:hover .pt-box-img-text {
  opacity: 0.8;
}

section .camping-photo-card .pt-box .pt-box-text {
  width: 100%;
  height: 47px;
  font-size: 32px;
  color: #898989;
  line-height: 65px;
  text-align: right;
  position: relative;
  z-index: 1;
}

section .camping-photo-card .pt-box .pt-box-text .text-line {
  width: 25mm;
  height: 4mm;
  position: relative;
  z-index: -1;
  top: 10px;
  left: 90px;
}

section .camping-photo-card .pt-box .pt-box-text .text-line-8 {
  width: 40mm;
  height: 4mm;
  position: relative;
  z-index: -1;
  top: 10px;
  left: 150px;
}

section .camping-introduction-box {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px black solid;
}

section .camping-introduction-box .camping-notes-box {
  width: 49%;
  background-color: #e2e3df;
}

section .camping-introduction-box .camping-notes-box .camping-notes-title {
  width: 100%;
  font-size: 32px;
  color: #727171;
  text-align: center;
  line-height: 60px;
  margin: auto;
  margin-top: 20px;
}

section .camping-introduction-box .camping-notes-box .line {
  width: 30%;
  height: 1px;
  background: #898989;
  margin: auto;
}

section .camping-introduction-box .camping-notes-box .camping-notes-text {
  width: 100%;
  font-size: 28px;
  color: #898989;
  line-height: 60px;
  margin: auto;
  padding-bottom: 30px;
}

section .camping-introduction-box .camping-notes-box .camping-notes-text p {
  margin-left: 12.5%;
  margin-top: 20px;
}

section .camping-introduction-box .camping-price {
  width: 49%;
  background-color: #e2e3df;
}

section .camping-introduction-box .camping-price .camping-price-title {
  width: 100%;
  height: auto;
  font-size: 32px;
  line-height: 60px;
  color: #727171;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

section .camping-introduction-box .camping-price .line {
  width: 25%;
  height: 1px;
  background: #898989;
  margin: auto;
}

section .camping-introduction-box .camping-price .camping-price-text {
  width: 100%;
  font-size: 28px;
  color: #898989;
  line-height: 50px;
  margin: auto;
  margin-top: 25px;
}

section .camping-introduction-box .camping-price .camping-price-text p {
  margin-left: 30%;
}

section .camping-introduction-box .camping-reservation {
  width: 100%;
  height: auto;
  background-color: #e2e3df;
  margin-top: 35px;
  padding-bottom: 50px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-title {
  width: 100%;
  font-size: 32px;
  color: #727171;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 30px;
}

section .camping-introduction-box .camping-reservation .line {
  width: 15%;
  height: 1px;
  background: #898989;
  margin: auto;
  margin-top: 5px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-text {
  width: 100%;
  height: auto;
  font-size: 28px;
  color: #898989;
  line-height: 50px;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 30px;
}

section .camping-introduction-box .camping-reservation .camping-reservation-text p {
  width: 80%;
  margin: auto;
}

.box {
  height: 1000px;
  width: 100%;
}
/*# sourceMappingURL=rwd-camping_cyh.css.map */