* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

section {
  width: 100%;
  border: 1px black solid;
  margin: auto;
}

section .camping-title {
  text-align: center;
  margin: auto;
}

section .camping-title span {
  font-size: 32px;
  color: #727171;
  line-height: 100px;
  letter-spacing: 5px;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
}

section .camping-photo-card {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  margin-top: 20px;
}

section .camping-photo-card .pt-box {
  width: 400px;
  margin-top: 10px;
}

@media screen and (max-width: 1128px) {
  section .camping-photo-card .pt-box {
    width: 350px;
  }
}

@media screen and (max-width: 892px) {
  section .camping-photo-card .pt-box {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  section .camping-photo-card .pt-box {
    width: 100%;
  }
}

section .camping-photo-card .pt-box a {
  text-decoration: none;
}

section .camping-photo-card .pt-box a .img-hover {
  width: 100%;
  height: auto;
  position: relative;
}

section .camping-photo-card .pt-box a .img-hover img {
  max-width: 100%;
  --webkit-clip-path: polygon(
              0% 0%,
              80% 0,
              100% 27%,
              100% 100%,
              0% 100%
            );
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
}

section .camping-photo-card .pt-box a .img-hover .pt-box-img-text {
  width: 100%;
  height: 100%;
  background-color: rgba(221, 209, 209, 0.8);
  --webkit-clip-path: polygon(
              0% 0%,
              80% 0,
              100% 27%,
              100% 100%,
              0% 100%
            );
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0, 100% 27%, 100% 100%, 0% 100%);
  font-size: 32px;
  font-weight: 600;
  color: #727171;
  text-align: center;
  line-height: 300px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  bottom: 4px;
}

section .camping-photo-card .pt-box a .img-hover:hover .pt-box-img-text {
  display: block;
  opacity: 0.8;
}

section .camping-photo-card .pt-box .pt-box-text {
  width: 100%;
  height: 47px;
  font-size: 32px;
  color: #898989;
  line-height: 65px;
  text-align: right;
  position: relative;
  z-index: 1;
}

section .camping-photo-card .pt-box .pt-box-text .text-line {
  width: 25mm;
  height: 4mm;
  position: relative;
  z-index: -1;
  top: 10px;
  left: 90px;
}

section .camping-photo-card .pt-box .pt-box-text .text-line-8 {
  width: 40mm;
  height: 4mm;
  position: relative;
  z-index: -1;
  top: 10px;
  left: 150px;
}

section .camping-photo-card .pt-box-4-6,
section .camping-photo-card .pt-box-7-8 {
  margin-top: 40px;
}

section .camping-introduction-box {
  width: 83%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .camping-introduction-box .camping-notes-box {
  width: 49%;
  background-color: #e2e3df;
}

@media screen and (max-width: 768px) {
  section .camping-introduction-box .camping-notes-box {
    width: 100%;
    height: auto;
  }
}

section .camping-introduction-box .camping-notes-box .camping-notes-title {
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  margin: auto;
  margin-top: 15px;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-notes-box .camping-notes-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  section .camping-introduction-box .camping-notes-box .camping-notes-title {
    width: 100%;
  }
}

section .camping-introduction-box .camping-notes-box .camping-notes-text {
  width: 80%;
  height: auto;
  font-size: 28px;
  color: #898989;
  line-height: 50px;
  margin: auto;
  margin-top: 10px;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-notes-box .camping-notes-text {
    font-size: 22px;
  }
}

section .camping-introduction-box .camping-notes-box .camping-notes-text p {
  width: 100%;
  margin: auto;
}

section .camping-introduction-box .camping-price {
  width: 49%;
  background-color: #e2e3df;
}

@media screen and (max-width: 768px) {
  section .camping-introduction-box .camping-price {
    width: 100%;
    margin-top: 30px;
  }
}

section .camping-introduction-box .camping-price .camping-price-title {
  width: 150px;
  height: auto;
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  margin: auto;
  margin-top: 15px;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-price .camping-price-title {
    font-size: 28px;
  }
}

section .camping-introduction-box .camping-price .camping-price-text {
  width: 400px;
  height: auto;
  font-size: 28px;
  color: #898989;
  line-height: 50px;
  margin: auto;
  margin-top: 35px;
}

section .camping-introduction-box .camping-price .camping-price-text p {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-price .camping-price-text {
    font-size: 22px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
  }
}

section .camping-introduction-box .camping-reservation {
  width: 100%;
  height: auto;
  background-color: #e2e3df;
  margin-top: 35px;
  padding-bottom: 50px;
}

section .camping-introduction-box .camping-reservation-title {
  width: 150px;
  height: auto;
  font-size: 32px;
  color: #727171;
  text-align: center;
  border-bottom: 1px #898989 solid;
  padding-bottom: 5px;
  margin: auto;
  padding-top: 10px;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-reservation-title {
    font-size: 28px;
  }
}

section .camping-introduction-box .camping-reservation-text {
  width: 100%;
  height: auto;
  font-size: 28px;
  color: #898989;
  line-height: 50px;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 1235px) {
  section .camping-introduction-box .camping-reservation-text {
    font-size: 22px;
  }
}

section .camping-introduction-box .camping-reservation-text p {
  width: 80%;
  margin: auto;
}

section .camping-introduction-box .camping-reservation-text p {
  margin-top: 30px;
}
/*# sourceMappingURL=rwd-camping.css.map */